@import "variables";

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow: hidden;

    header {
        margin-top: 1.5rem;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.3rem;
        width: 100%;
    }
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.6rem;

        li {
            width: 4rem;
            height: 4rem;
            border-radius: 10px;
            background-color: $darkblue;
            border: 5px solid $blackish;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: background-color 0.25s;
            transition: opacity 0.2s;

            p {    
                font-family: Lato, sans-serif;
                font-weight: bold;
                font-size: 2rem;
                color: $whitish;
                text-align: center;
                line-height: 100%;
            }
        }
    }
}

@media (max-width: 650px) {
    .content {
        header {
            margin-top: 0.4rem;
        }
    }

    .table {
        gap: 0.3rem;
        max-width: 100%;
        ul {
            gap: 0.3rem;
            li {
                width: 3rem;
                height: 3rem;
                p {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

.question {
    color: $whitish;
    font-size: 1.5rem;
    opacity: 0.5;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    cursor: pointer;
}

.home {
    color: $whitish;
    font-size: 1.5rem;
    opacity: 0.5;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    cursor: pointer;
}