@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import "variables";

* {
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: $darkblue;
  color: $whitish;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}