@import "variables";

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    hr {
        margin: 0.5rem 0;
    }

    a {
        text-decoration: underline;
    }
}

.letter {
    align-self: center;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    background-color: $blackish;
    border: 5px solid #0C131D;

    display: flex;
    justify-content: center;
    align-items: center;

    p {    
        font-family: Lato, sans-serif;
        font-weight: bold;
        font-size: 2rem;
        color: $whitish;
        text-align: center;
        line-height: 100%;
    }
}

.overlay {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.box {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    left: 1rem;
    right: 1rem;
    max-width: 720px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 10px;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.closeButton {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.1rem;
    text-align: center;
}